-i https://pypi.org/simple
autopep8==1.7.1; python_version<"3.8"
autopep8==2.0.2; python_version>="3.8"
extremitypathfinder==2.1.0
flake8==5.0.4; python_version<"3.8"
flake8==6.0.0; python_version>="3.8"
isort==5.11.5; python_version<"3.8"
isort==5.12.0; python_version>="3.8"
machine_common_sense==0.7.1
numpy==1.23.5
pdoc3==0.10.0
pre-commit==2.21.0; python_version<"3.8"
pre-commit==3.2.2; python_version>="3.8"
pytest==7.3.0
pyyaml==6.0
